<ion-header>
  <ion-toolbar color="secondary">
    <!--Boton inicio superior-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>{{nation.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="deletePlace()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col class="ion-no-padding"> 

        <ion-img [src]="nation.escudo"></ion-img>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <h1 class="ion-text-center">{{nation.title}}</h1>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-list *ngIf="nation.comments && nation.comments.length >0; else noComments">
          <ion-item *ngFor="let comment of nation.comments">

           {{comment}}

          </ion-item>
        </ion-list>

        <ng-template #noComments>
          <ion-text>
            <p class="ion-text-center">Ningun dato.</p>
          </ion-text>
        </ng-template>

      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>
