<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Demos
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-list>

      <!--Items-->
      <ion-item [routerLink]="['/places']" >
  
        <ion-avatar solt="start">
          <ion-img src="https://png.pngtree.com/svg/20170719/ionic_1307248.png">
  
          </ion-img>
        </ion-avatar>
  
       Listas
  
      </ion-item>
  
    </ion-list>

  <div id="container">
    <strong>Creando Apps en Ionic</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
